body{
	font-family: Open Sans;
}
.sec-one{
	background-image: url("../images/header_bg.jpg");
	width:1080px;
	height:660px;
	padding-left:120px;
	padding-top: 40px;
}
h2{
	font-weight:600;
	font-size:48px;
	margin-left: 90px;
	margin-top: 112px;
}
.logo{
	font-weight:800;
	font-size:48px;
}
.link.top{
}
.link{
	font-weight:800;
	font-size:28px;
	background-color:yellow;
	border:solid black 5px;
	margin-left: 405px;
	margin-top: 272px;
}
h3{
	font-weight:600;
	font-size:40px;
	margin-bottom: 40px;
}
.sec-two{
	width:1085px;
	height:500px;
	padding-left: 115px;
	padding-top:100px;
	background-color: #f8f8f8;
}
.description{
	font-weight:200;
	font-size:26px;
	width:610px;
	color:#696969;
}
ul{
	list-style: disc outside;
}
li{
	margin-left:40px;
	width:450px;
	font-size: 26px;
}
p{
	margin-bottom:70px;
}
.sec-three{
	background-image: url("../images/testimonial_bg.jpg");
	width:1200px;
	height:320px;
	padding-top:80px;
}
blockquote{
	font-weight:200;
	font-size:36px;
	font-style: italic;
	text-align: center;
	width:60%;
}
span{
	font-weight:600;
	font-size:36px;	
	text-align: center;
}
.end{
	text-align:center;
}

span{
	margin:45%;
}
.white{
	color:white;
}
.sec-four{
	width:1200px;
	height:120px;
	background-color: yellow;
}
.link-bottom{
	border:solid black 5px;
	margin-left: 445px;
	margin-top: 30px;
	background: blue;
}
.sec-five{
	background-color: black;
	width:1200px;
	height:350px;
}
.bottom{
	color:yellow;
}
img{
	display:block;

}